.div1{
    text-align: center;
    margin-top: 100px;
    
}
.sp1{
    position:absolute;
    top:15px;
    left:20px;
    
}

.sp2{
    position:absolute;
    top:15px;
    right:20px;
   
}
.lastname{
    color: blueviolet;
}
.firstname{
    color:rgb(218, 91, 32);
}
.search-box{
    width: 430px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border: 1px solid #999;
    border-radius: 25px;      /* Slightly curved */
    padding: 8px 12px;
    background: white;
}

.search-icon{
    font-size: 20px;
    color: #666;
    margin-right: 10px;
}

.search-box input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    background: transparent;
}


#suggestion-box{
    width: 430px;
    margin: 10px auto 0;
    /* border: 1px solid black; */
    padding: 10px;
    text-align: left;
}